<h2 class="mb-2 text-gray-700 text-4xl font-extrabold">Merchant Settings</h2>

<% if current_user.stripe_account_id.blank? %>
<p class="mb-2 text-xl font-semibold text-blue-600">
  You have not connected your Stripe account yet.
</p>
<a href="/host/merchant_settings/connect" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
  Connect your Stripe account
  <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
</a>
<% else %>

<dl class="max-w-md text-gray-900 divide-y divide-gray-200">
    <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg">Stripe Account</dt>
        <dd class="text-lg font-semibold"><%= current_user.stripe_account_id %></dd>
    </div>
        <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Charges enable</dt>
        <% if current_user.charges_enabled? %>
        <dd class="text-lg font-semibold flex items-center">
        <svg class="ml-5 flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span class="ml-2 font-semibold text-gray-900">
          Yes
        </span>
        </dd>
        <% else %>
          <dd class="text-lg font-semibold flex items-center">
          <svg class="ml-5 flex-shrink-0 w-5 h-5 text-red-500" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>        <span class="ml-2 font-semibold text-gray-900">
          No
        </span>
        </dd>
        <% end %>
    </div>
</dl>
<% end %>